package components

templ Head(title string) {
	// Html boilerplate with responsive meta tag
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{ title }</title>
	</head>
}
