package pages

templ Index() {
	@Base("Socialist | A Social NetWork For Gen Z") {
		<h1>Welcome to Socialist </h1>
		<h2>Checking out the new social network for Gen Z</h2>
		<dd>afa afaf af</dd>
		<div class="">
			<a href="/login">Login</a>
		</div>
		<div class="text"></div>
	}
}
